<div class="row">
  <div class="col-sm-6">
    <h1>Cards</h1>
  </div>

  <div class="col-sm-6 text-right">
    <%= link_to new_card_path, class: 'btn btn-primary' do %>
      Add New Card
    <% end %>
  </div>
</div>

<%= render @cards %>
